<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiFi RSSI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
</head>
<body>
    <h1>Wi-Fi Signal</h1>
    <section>
        <div>
            <h2>Current Sample</h2>
            <span class="rssi" id="rssi">-- dBm</span>
        </div>
        <div>
            <h2>Last 8 Samples</h2>
            <span class="rssi" id="rssi-avg">-- dBm</span>
        </div>
        <div>
            <h2>Min Max gap</h2>
            <span class="rssi" id="minmax-gap">--</span>
        </div>
    </section>
</body>
</html>