<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiFi RSSI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
</head>
<body>
    <h1>Wi-Fi Signal</h1>
    <section>
        <div>
            <h2>Current</h2>
            <span class="rssi"><span id="rssi">--</span> dBm</span>
        </div>
        <div>
            <h2>Recent avg.</h2>
            <span class="rssi"><span id="rssi-avg">--</span> dBm</span>
        </div>
        <div>
            <h2>Recent min-max gap</h2>
            <span class="rssi"><span id="minmax-gap">--</span></span>
        </div>
    </section>
</body>
</html>