<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiFi RSSI</title>

    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/position-display.css">

    <script src="../static/scripts/index.js" type="module"></script>
</head>
<body>
    <h1>Wi-Fi Signal</h1>
    <section id="stats-wrapper">
        <div>
            <h2 class="label">RSSI</h2>
            <span class="suffix"><span class="value" id="rssi">--</span> dBm</span>
        </div>
        <div>
            <h2 class="label">Recent RSSI avg.</h2>
            <span class="suffix"><span class="value" id="rssi-avg">--</span> dBm</span>
        </div>
        <div>
            <h2 class="label">Distance</h2>
            <span class="suffix"><span class="value" id="distance">--</span> m</span>
        </div>
        <div>
            <h2 class="label">Recent Distance Avg.</h2>
            <span class="suffix"><span class="value" id="distance-avg">--</span> m</span>
        </div>
    </section>
    <section id="position-display">
        <div id="position-indicator"></div>
        <div class="big grid-line"><span class="suffix"><span class="value">0</span>m</span></div>
        <div class="grid-line"></div>
        <div class="big grid-line"><span class="suffix"><span class="value">2</span>m</span></div>
        <div class="grid-line"></div>
        <div class="big grid-line"><span class="suffix"><span class="value">4</span>m</span></div>
        <div class="grid-line"></div>
        <div class="big grid-line"><span class="suffix"><span class="value">6</span>m</span></div>
        <div class="grid-line"></div>
        <div class="big grid-line"><span class="suffix"><span class="value">8</span>m</span></div>
        <div class="grid-line"></div>
        <div class="big grid-line"><span class="suffix"><span class="value">10</span>m</span></div>
    </section>
</body>
</html>