body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: sans-serif;
    text-align: center;
    margin-top: 0.5rem;
}

section {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

div {
    display: flex;
    flex-direction: column;
}

.rssi {
    font-size: 3.5rem;
    font-weight: bold;
}